*{
	padding: 0;
	margin:0;
}
html,body{
	width:100%;
	height:100%;
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(220,220,220,0.5), rgba(0,0,259,0.5)),url("this.jpg");


}
!img
{
   object-fit: contain;
}
.sup{
	display:flex;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	background:transparent; 
}
a{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	background:transparent;	
}
.dup{
	margin: 0 auto;

}

input{

	width:81%;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	background:transparent; 
	display: block;
	border: none;
	margin-left:auto;
	margin-right:auto;
	margin-top:10vh;
	outline: none;
	border-bottom: 1px solid black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white; /* Firefox */
  font-family: 'Montserrat', sans-serif;

  font-size: 26px;
}
#form-outer{
	width:100%;
	height:100%;
	border: 1px solid blue;
	display:flex;
}
#form-inner{
	display: block;
	width:60%;
	height:60%;
	margin:auto;
	}